
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #FF9C77;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
}
nav {
    background-color: #FF6B47;
    text-align: center;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h2 {
    font-size: 24px;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
.dwarf-card {
    background-color: #FFA07A;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
}
.dwarf-image {
    display: block;
    margin: 0 auto;
    height: 450px;
}
footer {
    background-color: #FF6B47;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.custom-card {
    background-color: #eedcd4;
    padding: 30px;
    border-radius: 15px;
    margin: 10px 0;
    text-align-last: center;
}